@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/cabin/v18/u-4X0qWljRw-PfU81xCKCpdpbgZJl6XFpfEd7eA9BIxxkV2EH7alwg.ttf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/librefranklin/v7/jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhLsWkANDM.ttf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW9.ttf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotoslab/v13/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmb2Rm.ttf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Slabo 27px';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/slabo27px/v7/mFT0WbgBwKPR_Z4hGN2qgx8D0A.ttf) format('truetype');
  font-display: swap;
}
.subtitle {
  font-family: 'Cabin';
}
h1 {
  font-family: 'Slabo 27px';
}
h1.title a {
  font-family: 'Slabo 27px';
}
h2 {
  font-family: 'Roboto Slab';
}
h3 {
  font-family: 'Cabin';
  font-size: 1.2rem;
}
body,
p,
a {
  font-family: 'Roboto Slab', sans-serif;
}
h1,
h2,
h3 {
  font-family: 'Libre Franklin';
}
pre {
  font-family: "Roboto Mono";
}
h1 {
  margin-top: 4rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.5;
}
h2 {
  font-size: 1.2rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  font-weight: 900;
  line-height: 1;
}
h3 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1;
}
p {
  line-height: 1.6;
  color: #323232;
}
pre {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
a,
a:visited {
  color: #0000c8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
strong {
  font-weight: 600;
}
em {
  font-style: italic;
}
/*# sourceMappingURL=common.css.map */