/*
 - using shorthand to create 3 columns. Easier to change this now.
*/
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Roboto Slab';
}
h1 {
  font-family: 'Slabo 27px';
  font-size: 1.9rem;
}
h2 {
  font-family: 'Roboto Slab';
  font-size: 1.6rem;
}
h3 {
  font-family: 'Cabin';
  font-size: 1.1rem;
}
code {
  font-size: 0.85rem;
  font-family: "Roboto Mono";
}
h2 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
p + p {
  margin-top: 1rem;
}
.master-grid {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0rem;
  grid-template-areas: "title" "story-content" "disqus" "footer";
}
.title {
  grid-area: title;
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
}
.title h1 {
  margin-top: 2rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.title h2 {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0rem;
  color: #969696;
}
.title a {
  text-decoration: none;
  color: white;
  font-size: inherit;
}
.footer {
  grid-area: footer;
  width: 100%;
  color: white;
  background-color: black;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
}
.footer a {
  color: aqua;
}
.story-content {
  grid-area: story-content;
  box-sizing: border-box;
  padding: 0.1rem;
}
.story-content h1 {
  margin-top: 1rem;
}
.dates {
  display: block;
  text-align: center;
  margin-top: 2rem;
  width: 100%;
  font-size: 0.9rem;
  font-style: italic;
}
.story {
  display: block;
  width: 100%;
  overflow: hidden;
}
.story h1 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.story .tags {
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 1rem;
  line-height: 2;
}
.story .tags a {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.125rem;
  padding-bottom: 0.25rem;
  border-radius: 1rem;
  background-color: #738a94;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-right: 0.2rem;
  white-space: nowrap;
}
.story .tags a:hover {
  background-color: #646464;
  transition: background 0.3s ease-in-out;
}
.story img {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 100%;
}
.story pre {
  margin-bottom: 1rem;
}
.disqus-comments {
  width: 100%;
  grid-area: disqus;
}
code {
  background-color: black;
  color: white;
  padding: 0.25rem;
  border-radius: 5px;
}
pre {
  display: block;
  background-color: black;
  color: white;
  font-family: "Roboto Mono";
  box-sizing: border-box;
  padding: 0.5rem;
  line-height: 1.5;
  font-size: 0.9rem;
  width: 100%;
  white-space: pre;
  overflow-x: auto;
  border-radius: 5px;
}
pre code {
  /* specific to code block within pre */
  padding: 0rem;
}
iframe {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/*
 * At a certain point, add margins left and right
 * to create a centered page effect
 */
@media screen and (min-width: 320px) {
  .story-content,
  .disqus-comments {
    padding: 1rem;
  }
  pre {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .disqus-comments {
    box-sizing: border-box;
  }
}
note {
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 1em;
  background-color: #64c8ff;
  border-radius: 5px;
  color: #000000;
  display: block;
}
note a,
note a:visited,
note a:hover {
  color: #000000;
  text-decoration: underline;
}
note code {
  background-color: rgba(255, 255, 255, 0.2);
}
note:before {
  display: inline;
  content: "Note: ";
  font-weight: 700;
}
warning {
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1em;
  background-color: rgba(255, 0, 0, 0.7);
  border-radius: 5px;
  color: #000000;
  display: block;
}
warning a,
warning a:visited,
warning a:hover {
  color: #000000;
  text-decoration: underline;
}
warning code {
  background-color: rgba(255, 255, 255, 0.2);
}
warning:before {
  display: inline;
  content: "Warning: ";
  font-weight: 700;
}
.copy-to-text-div a {
  font-size: 0.9rem;
  color: #b3b3b3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
/*
 * At an even wider point bump up font sizes.
 */
@media screen and (min-width: 37.5rem) {
  .story h1 {
    margin-top: 2rem;
  }
  .story .tags {
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
  .story .tags a {
    font-size: 1rem;
  }
  .story pre {
    margin-bottom: 2rem;
  }
  iframe {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }
  h1 {
    font-size: 2.28rem;
  }
  h2 {
    font-size: 1.92rem;
  }
  h3 {
    font-size: 1.32rem;
  }
  body,
  p,
  li,
  a {
    font-size: 1.2rem;
  }
  .dates {
    font-size: 1rem;
  }
  code {
    font-size: 1.02rem;
  }
  pre {
    font-size: 1.08rem;
  }
  .title h1 {
    margin-top: 3rem;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .title h2 {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 0rem;
    color: #969696;
  }
}
@media screen and (min-width: 50rem) {
  .master-grid {
    display: grid;
    grid-template-columns: 1fr 50rem 1fr;
    grid-gap: 0rem;
    grid-template-areas: "title title title" ". story-content ." ". disqus ." "footer footer footer";
  }
}
/*
@media screen and (min-width:1420px)
{
    .master-grid {
        grid-template-columns: 550px 1fr;
        grid-column-gap: 10px;
        grid-template-areas:
                             "title story-content"
                             "title  disqus"
                             "footer disqus";

    }
}
*/
/*# sourceMappingURL=post.css.map */